.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.banner{
    display: flex;
     justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin:  150px;
    background-color: #C6E4D6;
    border-radius: 15px;
}
.banner-title{
    font-size: 24;
    font-weight: medium;
    color: rgb(178, 159, 157);
    margin-bottom: 5px;
    padding: 5px;
}
.banner-content{
     margin-right: 100px;
     padding: 50px;
}
.banner-heading{
    font-size: 56;
    font-weight: bold;
}
.btn-primary{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    background-color: #006A50;
    border-radius: 7px;
    padding: 17px 34px;
    border: none;
}
/* vision style */
.Vision-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    text-align: left;
}
.vision-description{
    font-size: 16px;
    color: #0E0E0E;
      padding-right: 50px;
      text-align: left;
}
.box-father{
    display: flex;
     justify-content: center;
     align-items: center;
    gap: 50px;
     padding: 40px;
     
}
.box1{
     background-color: #829bc6;
     border-radius: 7px;
     border: none;
     padding: 40px;
}
.box2{
    background-color: #C6E4D6;
    border-radius: 7px;
     border: none;
     padding: 40px;
}
.box3{
    background-color: #F7EBCF;
    border-radius: 7px;
     border: none;
     padding: 40px;
}
.btn-primary-1{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    background-color: #09A15C;
    border-radius: 7px;
    padding: 9px 20px;
    border: none;
    margin-left: 20px;
    margin-bottom: 20px;
}
.btn-primary-2{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    background-color: #006A50;
    border-radius: 7px;
    padding: 9px 20px;
    border: none;
    margin-left: 20px;
    margin-bottom: 20px;
}
.btn-primary-3{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    background-color: #FFC239;
    border-radius: 7px;
    padding: 9px 20px;
    border: none;
    margin-left: 20px;
    margin-bottom: 20px;
    hover
}
.section-description{
    font-size: 16px;
    background-image: url(./assets/quote-bg.png);
    background-repeat: no-repeat;
    margin: 40px;
    
    
}
.dr{
    font-size: 20px;
    font-weight: 700;
}
.dr-title{
    color: #0E0E0E;
}
.yunus{
    background-color: #FFFFFF;
    text-align: left;
    border-radius: 10px;
    margin: 40px;
    padding: 40px;
}
.akash{
    display: flex;
    margin: 40px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.batas{
    margin: 80px;
    margin-top: 50px;
}
.set{
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 50px;

}
.recent-news{
    font-size: 40px;
    font-weight: bold;
}
.news-titie{
    font-size: 32px;
    font-weight: bold;
}
.news-button1{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    background-color: #006A50;
    border-radius: 7px;
    padding: 9px 20px;
    border: none;
    margin-left: 20px;
    margin-bottom: 20px;
    hover
}
 .div{
    display: flex: 
    margin: 120px
    padding:80px;
 }
 .set-2{
    margin-left:  950px;
 }
 .Donate{
    text-align: center;
 }
 .parents{
    display: flex;
    gap: 50px;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
 }
 .child1{
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 7px;
 }
 .child3{
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 7px;
 }
 .child4{
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 7px;
 }
 .child2{
    padding: 20px;
    background-color: #C6E4D6;
    border-radius: 7px;
 }
  .chk{
    margin: 50px;background-color: #FFFFFF; padding: 20;
    border: none;
  }
  .last{
    text-align: center;
    background-color: #C6E4D6;
    border-radius: 15px;
  }