.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.banner{
    display: flex;
     justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin:  150px;
    background-color: #C6E4D6;
    border-radius: 15px;
}
.banner-title{
    font-size: 24;
    font-weight: medium;
    color: rgb(178, 159, 157);
    margin-bottom: 5px;
    padding: 5px;
}
.banner-content{
     margin-right: 100px;
     padding: 50px;
}
.banner-heading{
    font-size: 56;
    font-weight: bold;
}
.btn-primary{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    background-color: #006A50;
    border-radius: 7px;
    padding: 17px 34px;
    border: none;
}
/* vision style */
.Vision-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    text-align: left;
}
.vision-description{
    font-size: 16px;
    color: #0E0E0E;
      padding-right: 50px;
      text-align: left;
}
.box-father{
    display: flex;
    justify-content: center;
    gap: 50px;
     padding: 40px;
     
}
.box1{
     background-color: #829bc6;
     border-radius: 7px;
     border: none;
}
.box2{
    background-color: #C6E4D6;
    border-radius: 7px;
     border: none;
}
.box3{
    background-color: #F7EBCF;
    border-radius: 7px;
     border: none;
}
.btn-primary-1{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    background-color: #09A15C;
    border-radius: 7px;
    padding: 9px 20px;
    border: none;
    margin-left: 20px;
    margin-bottom: 20px;
}
.btn-primary-2{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    background-color: #006A50;
    border-radius: 7px;
    padding: 9px 20px;
    border: none;
    margin-left: 20px;
    margin-bottom: 20px;
}
.btn-primary-3{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    background-color: #FFC239;
    border-radius: 7px;
    padding: 9px 20px;
    border: none;
    margin-left: 20px;
    margin-bottom: 20px;
    hover
}
.section-description{
    font-size: 16px;
    background-image: url(./assets/quote-bg.png);
    background-repeat: no-repeat;
    
    
}
.dr{
    font-size: 20px;
    font-weight: 700;
}
.dr-title{
    color: #0E0E0E;
}
.yunus{
    background-color: #FFFFFF;
    text-align: left;
    border-radius: 10px;
    margin: 40px;
    padding: 40px;
}